#contenedor{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  
}


.columna1{
    float: left;
    width: 33%;
    
}
.caja1{
    width: 100%;
    height: 100px;
    background-color: red;
}
.caja2{
    width: 100%;
    height: 190px;
    background-color:blue ;
}
.caja3{
     width: 100%;
    height: 80px;
    background-color: rgb(7, 88, 7) ;
}
.caja4{
    width: 100%;
    height: 200px;
    background-color: rgba(193, 13, 13, 0.916) ;
}
.columna2{
    float: left;
    width: 33%;    
}
.caja5{
    width: 100%;
    height: 400px;
    background-color: aqua;
}
.caja6{
    width: 100%;
    height: 90px;
    background-color: rgb(230, 128, 13);
}
.caja7{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 0, 0.897);
}
.columna3{
    float: left;
    width: 33%;
    
}
.caja8{
    width: 100%;
    height: 360px;
    background-color: rgb(79, 7, 147);

}
.caja9{
    width: 100%;
    height: 110px;
    background-color: rgb(43, 196, 43);
}
.caja10{
    width: 100%;
    height: 100px;
    background-color: aqua;
}